{% trans_default_domain 'FOSUserBundle' %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{ block('page_title') }}</title>
</head>
<body>
<div class="container">
    {% if site_logo_url|default(false) %}
        <div class="row justify-content-center mt-5 mb-3">
            <div class="col-4 col-sm-2">
                <img src="{{ site_logo_url }}" alt="{{ site_logo_alt ?? 'logo' }}" class="img-fluid">
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col col-sm-6">
            {% if site_name|default(false) %}
                <h1 class="text-center">{{ site_name }}</h1>
                {% if site_description|default(false) %}
                    <p class="text-center lead mb-3">{{ site_description }} </p>
                {% endif %}
            {% endif %}
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>
